header,
footer {
    background-color: rgb(22, 193, 36);
    border-top: solid 1px darkgray;
    border-bottom: rgb(22, 193, 36);
}

main {
    height: 534px;
}

.page-about-height {
    height: 734px;
}

.btn-my-sort {
    margin: -6px 0 0 8px;
    padding: 0 4px 1px 4px;
}


#form-employee-update,
#form-employee-insert {
    background-color: lavender;
    border: solid 1px darkgray;
    border-radius: 8px;
    padding: 12px;
    margin-top: 20px;
}


#button-page-next {
    width: 60px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#input-page {
    width: 50px;
    border-left: none;
    border-right: none;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
    border-radius: 0;
    text-align: center;
}

#select-page-size {
    border-color: darkgray;
    font-size: .875rem;
}

#employee-table-wrapper {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;

}

#employee-table thead {
    position: sticky;
    top: 0;
}

#div-pagination-message {
    font-size: .875rem;
}

.my-validation {
    font-size: 0.65rem;
    color: red;
}